body{
  font-family: Arial;
  margin: 0px 100px;
  display: block;
  page: main;
  counter-reset: page 1
}

.level1, h1{
    page-break-before: always;
}

.level1 > .container-title{
  font-size: 2em;
  color: #384e44
}


.field-container.level2{
  margin-top: 10px;
  margin-bottom: 30px;
}

.level2 >.container-title{
  font-size: 1.4em;
  color: #90AE59;
  margin-top: 50px;
  margin-bottom: 40px;
}


.field{
  margin-top: 15px;
  padding-bottom: 20px
}

.field:not(:last-child){
  border-bottom: 1px solid #e1e1e3;
}

.field.richtext label, .field.text label{
  font-weight: bold;
  font-size: 0.9em;
}

.field-value{
  margin-top: 10px;
  font-family: serif;
}


.checkbox > label >div{
  display: inline;
}

input[type=checkbox]{
  border:1px solid #333333;
}
